version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: orders_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: orders_db
    ports:
      - "5433:5432"
    volumes:
      - orders_db:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d orders_db"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  orders_db: