version: '3.9'

services:
  db:
    image: postgres:16-alpine
    container_name: users_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
volumes:
  pgdata:
